p {
    text-align: center;
    color: rgb(51, 168, 223);
}

#Texto1
{
    text-align: center;
    color: rgb(159, 14, 179);
    font-family: 'DynaPuff', cursive;
    font-size: 1.5em;

}

#Texto2
{
    text-align: center;
    color: rgb(33, 134, 29);
    font-size: 2em;
}

.Cuadro{
    background-color: blue ;
    width: 100px;
    height: 100px;
    margin: 10px;
}

*{
    margin: 10px, 11px, 20px, 50px;
    padding: 10px;
    font-size: 12px;
}

#Cuadro1:hover
{
    background-color: yellow;

}

li:first-child {

    color: orange;

}

#Input1:focus{

    background-color: black;
}

/*SARA TE ODIO CON TODO MI CORA*/
/* DEVUELVEME EL CELULOCO */

#Color1{
    background-color: rgb(0, 183, 255);
    padding: 30px;
    display: block;
}

#Color2{
    background-color: rgb(159, 14, 179);
    padding: 30px;
    display: block;
}

#Color3{
    background-color: #48ff00;
    padding: 30px;
    display: block;
}

.Contenedor{
    height: 600px;
    width: 400px;
    border: 20px groove rgb(134, 62, 21);
    background-image: url("Rana.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: darkgreen;
    border-radius: 30px;
}

#RanaC{
    color: rgb(255, 255, 255);
    font-size: 3em;
    text-align: center;
        
}

.Pantalla{
    /* background-color: blue; */
    height: 400px;
    width: 100%;
    /* background-image: linear-gradient(45deg,rgb(51, 255, 0),rgb(183, 0, 255)); */
    /* background-image: linear-gradient(to right,rgb(51, 255, 0),rgb(183, 0, 255)); */
    /* background-image: radial-gradient(circle,rgb(51, 255, 0),rgb(183, 0, 255)); */
    background-image: linear-gradient(120deg, rgba(255, 208, 1, 0.5) 0%, rgba(255,234,169,0.5) 25%, rgba(255,210,1,0.5) 50%, rgba(255,234,169,0.5) 75%, rgba(106,82,8,0.5) 100%), url("./Imagenes/Cascada.jpg");
    background-size: contain;
}

.Cuadrito{
    background-image: url(./Imagenes/wall-e-03.gif);
    background-size: contain;
    height: 150px;
    width: 150px;
    animation-name: mi_animacion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes mi_animacion{
    0%{}
    25%{transform: translate(400px,0px);}
    50%{transform: translate(400px,200px);}
    75%{transform: translate(0px,200px);}
    100%{transform: translate(0px, 0px);}
}

.Cuadradito1{
    background-color: #48ff00;
    margin: 10px, 20px, 30px, 40px ;
    padding: 10px, 20px, 30px 40px ;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    box-sizing: border-box;
}

.Cuadradito2{
    background-color: blueviolet;
    margin: 10px, 20px, 30px, 40px ;
    padding: 10px, 20px, 30px 40px ;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    box-sizing: content-box;
}

.Circulito1{
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    top: 20px;
    box-shadow: 2px 5px 7px 0px rgb(163, 178, 189);
}

.material-icons{
    margin-top: 5px;
    margin-left: 5px;
}

.ListCity li
{
    list-style-type: lower-alpha;
    
}

#customers
{
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th
{
    border: 1px solid #48ff00;
    padding: 8px;
}

#customers tr:hover
{
    background-color: aqua;
}

#customers th
{
    padding-top: 12px ;
    padding-bottom: 12px;
    text-align: left;
    background-color: aquamarine;
    color: rgb(221, 51, 51);
}

#Luchador
{
    color: blue;
}

.Player
{
    color: red;
}

h6
{
    color: yellow;
}

